{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div class="object-tools">
        {% if has_add_permission %}
            <a href="{{ url_add }}" class="addlink">{% trans 'Add' %} {{ model_name }}</a>
        {% endif %}
        {% if has_change_permission %}
            <a href="{{ url_changelist }}" class="changelink">{% trans 'Change' %}</a>
        {% endif %}
        {% if has_delete_permission %}
            <a href="{{ url_delete }}" class="deletelink">{% trans 'Delete' %}</a>
        {% endif %}
    </div>
{% endblock %}